/**
 * Developed by-
 *
 * Name : PIYUSH PIYUSH
 * Banner ID : B00844563
 * Email ID : piyush@dal.ca
 * 
 */

.random_text {
    text-align: justify;
}

#ach_image {
        width: 97%;
        max-height: 45vh;
        margin-top: 2%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        margin-bottom: 2%;
        border: 3.5px solid white;
        border-radius: 0.4em;
        box-shadow: 5px 10px 18px #888888;
}

p{
    padding-right: 1.5%;
    padding-left: 1.5%;
}