/* Created by Anish Tuli, B00843522 (anish.tuli@dal.ca) */

.resumeBox {
  border: 1px solid #ccc;
  padding: 3vh;
  height: auto;
  /* max-width: 100% !important; */
  overflow: hidden !important;

  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 3vh;
}

.inputBox {
  border: 1px solid #ccc;
  padding: 3vh;
  height: auto;
  /* max-width: 100% !important; */
  overflow: hidden !important;

  border: 2px solid white;
  border-radius: 0.2em;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 3vh;
}

.customSize {
  margin-top: 2%;
  border: 2px solid black;
  border-radius: 0.4em;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 3vh;
  padding: 3vh;
}

.SubmitBox {
  margin-top: 2%;
  text-align: center;
}

.random_text {
  text-align: justify;
}

p {
  padding-right: 1.5%;
  padding-left: 1.5%;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.ceo_name {
  text-align: center;
  font-weight: bold;
}
