/**
 * Developed by-
 *
 * Name : PIYUSH PIYUSH
 * Banner ID : B00844563
 * Email ID : piyush@dal.ca
 * 
 */

.home {
  min-height: 100%;
}

.search_bar {
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
}

.search_button {
  box-shadow: 2px 5px 9px #3925ec;
}

.crd {
  margin-bottom: 3%;
  margin-top: 2%;
}

.crd:hover {
  box-shadow: 5px 10px 18px #888888;
}

.ctr img {
  max-height: 50vh;
  margin-top: 2%;
  border: 2px solid white;
  border-radius: 0.7em;
  box-shadow: 5px 10px 18px #888888;
}

.buy_button {
  margin-top: 1%;
  box-shadow: 2px 5px 9px #3925ec;
}

.buy_button:hover {
  box-shadow: 2px 5px 9px #3925ec;
}

.search_field {
  margin-right: 0.5%;
  border: 2px solid white;
  border-radius: 0.4em;
  box-shadow: 5px 10px 18px #888888;
  padding: 0.8%;
  width: 25%;
}

.drop_field {
  background-color: #3925ec;
  margin-right: 0.5%;
  border: 2px solid white;
  border-radius: 0.4em;
  box-shadow: 5px 10px 18px #888888;
  padding: 0.2%;
  width: 12%;
}

.ctr {
  align-items: center;
}
.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}
