/**
 * Developed by-
 *
 * Name : PIYUSH PIYUSH
 * Banner ID : B00844563
 * Email ID : piyush@dal.ca
 * 
 */

.awe {
    background-color: white;
    color: blanchedalmond;
    height: 120px;
    line-height: 2.5;;
    font-weight: bolder;
    font-size: larger;
}

.linkB {
    color: white;
}

.navbar .navbar-nav a {
    color: red;
  }