/* Modified by PIYUSH PIYUSH (B00844563, piyush@dal.ca) */


/* h1 {
    font-weight: bolder;
} */

.loginBox
{
	border: 1px solid #CCC;
	padding:3vh;
	height:auto;
	max-width: 100% !important;
    overflow: hidden !important;
    border: 2px solid black;
    border-radius: 0.2em;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 3vh;
}

.customBox
{
	border: 2px solid black;
    border-radius: 0.2em;
    box-shadow: 5px 10px 18px #888888;
    margin-top: 2%;
}

.submitButton
{
	margin-top: 4%;
}

label{
    float:left;
}

p {
    padding-right: 1.5%;
    padding-left: 1.5%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 3.5%;
}

.error {
    color: red;
}

/* #year_block {
    float: left;
}

#month_block {
    float: left;
} */