.map {
  text-align: center;
  display: block;
  margin-top: 5%;
  overflow: hidden;
}

.desc {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imageStyleLike {
  width: 30%;
}

.imageStyle {
  width: 40%;
}

.imag {
  width: 1%;
  height: 1%;
}

.posting-container {
  width: 100%;
}
